{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


<section class="py-5 mb-5" style="background: url(assets/images/background-pattern.jpg);">
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <h1 class="page-title pb-2">{{ brand.title }}</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Shop</span>
        </nav>
      </div>
    </div>
  </section>
<section class="main-container col2-left-layout">
    <div class="container">
        <p>Total {{ products.count }} product{{ products.count|pluralize}}</p>
        <div class="row">
            <div class="product-grid row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for p in products %}
                <div class="col">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3">-30%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                    <figure>
                      <a href="single-product.html" title="Product Title">
                        <img src="{{ p.image.url }}" alt="Product Thumbnail" class="tab-image">
                      </a>
                    </figure>
                    <h3>{{ p.title }}</h3>
                    <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                    <span class="price">${{ p.price }}</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                              </button>
                          </span>
                          <input type="text" name="quantity" class="form-control input-number quantity" value="1">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                  <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                              </button>
                          </span>
                      </div>
                      <a href="#" class="nav-link">Add to Cart <svg width="18" height="18"><use xlink:href="#cart"></use></svg></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
              <!-- / product-grid -->

        </div>
    </div>
</section>



{% endblock content %}