{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="py-5 overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header d-flex flex-wrap justify-content-between mb-5">
            <h2 class="section-title">Category</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="category-carousel swiper">
            <div class="swiper-wrapper">
            {% for c in categories %}
              <a href="{% url 'core:category-product-list-view' c.cid %}" class="nav-link category-item swiper-slide">
                <img src="{{ c.image.url }}" alt="Category Thumbnail">
                <h3 class="category-title">{{ c.title }}</h3>
                <p>Total {{ c.category.count }} Product{{ c.category.count|pluralize}}</p>
              </a>
            {% endfor %}                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}